{% block content %}
<p><b>Where the Calculator Should go</b></p>

<form action="/scorer/" method="post" name="calculator">
    {% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <input id="throw1" type="text" name="throw1" value="">
            <input id="throw2" type="text" name="throw2" value="">
            <input id="throw3" type="text" name="throw3" value="">
            <br />
            <input type="button" class="num_input btn btn-default btn-lg" id="1" name="1" value="1" onclick="calculator.throw1.value += '1'">
            <input type="button" class="num_input btn btn-default btn-lg" id="2" name="2" value="2" onclick="calculator.throw1.value += '2'">
            <input type="button" class="num_input btn btn-default btn-lg" id="3" name="3" value="3" onclick="calculator.throw1.value += '3'">
            <br />
            <br />
            <input type="button" class="num_input btn btn-default btn-lg" id="4" name="4" value="4" onclick="calculator.throw1.value += '4'">
            <input type="button" class="num_input btn btn-default btn-lg" id="5" name="5" value="5" onclick="calculator.throw1.value += '5'">
            <input type="button" class="num_input btn btn-default btn-lg" id="6" name="6" value="6" onclick="calculator.throw1.value += '6'">
            <br />
            <br />
            <input type="button" class="num_input btn btn-default btn-lg" id="7" name="7" value="7" onclick="calculator.throw1.value += '7'">
            <input type="button" class="num_input btn btn-default btn-lg" id="8" name="8" value="8" onclick="calculator.throw1.value += '8'">
            <input type="button" class="num_input btn btn-default btn-lg" id="9" name="9" value="9" onclick="calculator.throw1.value += '9'">
            <br />
            <br />
            <input type="button" class="num_input btn btn-default btn-lg" id="d" name="d" value="x2" onclick="calculator.throw1.value += 'D'">
            <input type="button" class="num_input btn btn-default btn-lg" id="t" name="t" value="x3" onclick="calculator.throw1.value += 'T'">
            <input type="button" class="num_input btn btn-default btn-lg" id=">" name="enter" value=">" onclick="next()" >
            <input type="button" class="num_input btn btn-default btn-lg" id="bull" name="bull" value="bullseye" onclick="calculator.throw1.value += 'bull'">
            <br />
            <br />
            <button class="num_input btn btn-warning btn-lg" type="reset">reset</button>
            <input type="button" class="btn btn-default btn-lg" id="0" name="0" value="0" onclick="calculator.throw1.value += '0'">
            <button class="btn btn-success btn-lg" type="submit">submit</button>
            <br />
            <br />
        </div>
    </div>
</div>
</form>

{% endblock %}