{% extends "scorer/header.html" %}

{% block content %}
    <h2>{{ match_turn_number }}</h2>
    {% for player_status in players_statuses %}
      <p>{{ player_status.name }}{% if player_status.my_turn %}*{% endif%}</p>
      <p>{{ player_status.overall_score }}</p>

    {% if player_status.my_turn %}
        <form action="{{ post_url }}" method="post">
            {% csrf_token %}
            <input type="text" name="player_{{ player_status.id }}_score">
            <input type="hidden" name="match_turn_id" value="{{ player_status.match_turn_id }}">
            <input type="submit" value="Enter Score">
        </form>
    {% endif %}
    {% endfor %}

{% endblock %}

<!--
I want to create a 301 game here.
the url should looks something like this
http://127.0.0.1:8000/scorer/game/{game_id} -->