{% extends "scorer/header.html" %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2 text-center">
            </div>
            <div class="col-md-auto text-center">
                <h2>Round {{ match_turn_number }}</h2>
            </div>
            <div class="col col-lg-2 text-center">
            </div>
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            {% for player_status in players_statuses %}
            <div class="col col-lg-3 text-center bg-light border border-secondary rounded">
                <p class="font-weight-bold">{% if player_status.my_turn %}<i class="fas fa-circle fa-xs text-success"></i> {% endif%}{{ player_status.name }}</p>
                <h1 class="bg-danger rounded">{{ player_status.overall_score }}</h1>
                {% if player_status.winner %}
                    WINNER
                {% elif player_status.my_turn %}
                    <form action="{{ post_url }}" method="post" class="form-inline justify-content-center">
                        {% csrf_token %}
                        <input type="number" min=0 max=180 class="form-control mb-1" required inputmode="Numeric" PLACEHOLDER="Score" name="player_{{ player_status.id }}_score">
                        <input type="hidden" name="match_turn_id" value="{{ player_status.match_turn_id }}">
                        <button type="submit" class="btn btn-primary mb-1">Enter Score</button>
                    </form>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            {% for player_status in players_statuses %}
            {% if player_status.winner %}
                <button type="button" href="127.0.0.1:8000/scorer/start_game" class="btn btn-info mx-4 mt-2">Play Again?</button>
                <button type="button" class="btn btn-info mx-4 mt-2">Save Game</button>
                <button type="button" class="btn btn-info mx-4 mt-2">Share Results</button>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button mx-4 mt-2" data-size="large"
                    data-text="I won a game of darts at DartMVP.com!" data-url="http://www.dartsmvp.com"
                    data-hashtags="darts" data-show-count="false">Tweet the results</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

<!--
I want to create a 301 game here.
the url should looks something like this
http://127.0.0.1:8000/scorer/game/{game_id} -->