<!DOCTYPE html>
<html lang="en">

<head>
	<title>Noah's Dart Scorer</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'scorer/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dart.js' %}"></script>
   	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'scorer/img/noah.PNG' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h1>Darts MVP</h1>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<div class="nav flex-column nav-pills" id="sidebar" style="background-color:#fff" aria-orientation="vertical">
			  <ul class="nav nav-pills nav-stacked">
				  <a class="nav-link" href='/'>Home</a>
				  <a class="nav-link" href='http://3dartstoplay.com/'>Blog</a>
                  <!-- Not Yet a Feature modal -->
                  <a class="nav-link" data-toggle="modal" data-target="#tbdFeatureModal" href='#'>Stats</a>
                  <a class="nav-link" href='#'>Contact</a>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">

			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>

    <!-- TBD Feature Modal -->
    <div class="modal fade" id="tbdFeatureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Coming Soon!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Whoa! This feature hasn't been built yet. Sign up to get notified when it's ready!
              <br>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Notify Me</button>
          </div>
        </form>
        </div>
      </div>
    </div>


	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="https://www.facebook.com/3dartstoplay" target="blank">Facebook</a> | <a href="https://twitter.com/3dartstoplay" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
    </footer>

</body>

</html>